*{
    box-sizing: border-box;
}

.full-container{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 200vh;
    background-color: #ffd3ee;
    margin: 0;
    padding: 0;
}

.dog-img{
    max-width: 100%;   
    max-height: 102vh;
    padding: 0;
}

.form{
    min-width: fit-content;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #a5b1f141;
    color: #000;
    position: relative;
    padding: 10px;
  }

  /* Style all input fields */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  border-radius: 40px;
}
/* Style the container for inputs */
.form {
  display: flex;
  flex-direction: column;
  background-color: #4d5ec241;
  min-width: 40vw;
  margin: 10px;
  margin-top:0 ;
  padding: 35px;
  border-radius: 30px;
  box-shadow: 4px 4px#f0e335,
              8px 8px #fff;
}

#message p {
  padding: 5px 15px;
  font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -15px;
  content: ' \2713';
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -15px;
  content: "\2718";
}
.submit-btn {
    background-color: #e375e7;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    width: 40%;
    font-size: 1rem;
    opacity: 0.5; /* Initially disabled */
    pointer-events: none; /* Initially disabled */
}
.submit-btn.enabled {
    opacity: 1; /* Enabled */
    pointer-events: auto; /* Enabled */
}
.submit-btn:hover {
    background-color: #ff0077;
    transform: scale(1.05);
}

.error {
    color: red;
    font-size: 0.875rem;
}
.success {
    color: green;
    font-size: 0.875rem;
}

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

.footer {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 17px;
    padding: 15px;
    text-shadow: 0 0 7px #FFF;
    background-color: #974dc283;
    font-family: 'Bellota Text', cursive;
    text-align: center;
    color: #FFF;
    height: 40px;
    
}

.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }

  .fa-github:hover {
    transform: rotate(360deg) scale(1.5);
  }
 
  .sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }
  